/* CSS declarations go here */
@import "../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";



/* ---------------------------- Roboto as base type ---------------------------------- */

@font-face {
  font-family: 'Roboto';
  src: url('/public/fonts/Roboto-Regular.woff') format('woff'),
      url('/public/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('/public/fonts/Roboto-Italic.woff') format('woff'),
      url('/public/fonts/Roboto-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
font-family: 'Roboto';
src: url('/public/fonts/Roboto-Light.woff') format('woff'),
    url('/public/fonts/Roboto-Light.ttf') format('truetype');
font-weight: 300;
font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/public/fonts/Roboto-LightItalic.woff') format('woff'),
      url('/public/fonts/Roboto-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('/public/fonts/Roboto-Thin.woff') format('woff'),
      url('/public/fonts/Roboto-Thin.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('/public/fonts/Roboto-ThinItalic.woff') format('woff'),
      url('/public/fonts/Roboto-ThinItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('/public/fonts/Roboto-Black.woff') format('woff'),
       url('/public/fonts/Roboto-Black.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

/* -------------------------- iconfield for base icons ------------------------*/

@font-face {
  font-family: 'iconfield-v03';
    src: url('/public/fonts/iconfield-v03.woff') format('woff'),
      url('/public/fonts/iconfield-v03.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* -------------------------- base element definitions ------------------------*/

body {
  background-color: #F2F3F5;
  color:#37404D;
  margin: 0;
  padding: 0;
  -moz-osx-font-smoothing: grayscale; /* Firefox font render fix on OSX*/
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', Helvetica, Arial, sans-serif !important;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
}

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/* -------------------------------- forms styling -----------------------------*/

label,
.noTextSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none; 
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.btn {
  padding: 0 20px;
  text-transform: uppercase;
  color: white;
  background-color: #1FABD9;
  border-radius: 0;
  border: none;
  outline: 0;

  &:hover {
    background-color: #29A3CB;
  }
}

.btn-primary {
  font-size: 18px;
  line-height: 48px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .form-group,
  .input,
  .panel-danger {
    margin-top: 16px;
    width: 26em;
    max-width: 90vv;

    input,
    select,
    textarea {
      width:100%;
      border: 1px solid #DEE1E7;
      font-weight: 400;
      font-size: 16px; 
      padding: 8px;
      transition: 0.5s;
    
      &:focus,
      &:hover {
        border: 1px solid #1FABD9;
        box-shadow: none;
        transition: 0.5s; 
      }
    }

    input {
      padding: 4px 8px;
      min-height: 2.5em;
      border-radius: 6px;
  
      &[type="checkbox"] {
        width: auto;
        margin-right: 10px;
      }
    }

    input,
    textarea {
      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        // color:blue !important;
        font-style: italic;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        font-style: italic;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        font-style: italic;
      }
      &:-moz-placeholder { /* Firefox 18- */
        font-style: italic;
      }
    }

    label {
      color: #37404D;
      font-size: 14px; 
      font-weight: 400;

      &:focus {
        transition: 0.5s;
      }
    }
    
    div.checkbox label {
      font-size: 16px;
    }

    span.help-block {
      font-weight: 400;
      line-height: 32px;
      color: #C30400;
      transition: 0.5s;
    }
    
    i.glyphicon {
      top: 26px;
      right: -36px;

      &:before {
        font-family: 'iconfield-v03';
        font-size: 18px;
      }
    }

    i.glyphicon-remove::before {
      content: "A";
    }      
    
    &.has-error,
    &.form-control-feedback {
      transition: 0.5s;
      
      label {
        color: #C30400;
      }

      input,
      input:focus {
        border: 1px solid #C30400;
        box-shadow: none;
      }

      i.glyphicon::before {
        color: #C30400;
      }
    }
  }

  .has-danger .btn,
  .has-danger .btn:hover {
    background-color: #CBCED3;
  }
  
  .panel-danger { /* box with error feedback*/
    color: white;
    background-color: #37404D;
    border: none;
    border-radius: 0;

    .panel-body div {
      position: relative;
      padding-left: 20px;

      &:before {
        position: absolute;
        left: 0;
        content: "D";
        color: #C30400;
        font-family: 'iconfield-v03';
        font-size: 14px;
      }
    }
  }
}
