@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

$bg-grey: #F2F3F5;            // light grey in background
$bg-anthracite: #37404D;      // anthracite used in admin headers

$cta-blue: #1FABD9;           // primary button color
$cta-blue-lighter: #29A3CB;   // primary button hover color
$cta-disabled-grey: #CBCED3;  // primary button disabled

$error-red: #C30400;          // main error color 